html, body {
  min-height: 100%; }

.container-fixed {
  margin: 0 auto;
  max-width: 940px;
  min-height: 100%; }

header {
  position: relative;
  height: 418;
  display: inline-block;
  width: 940px; }
  header .nav {
    position: relative;
    z-index: 30;
    padding-right: 0; }
  header .logo {
    position: relative;
    z-index: 30;
    margin-top: 17px; }
    header .logo img {
      max-width: 256px; }
  header ul {
    list-style: none;
    text-align: right; }
    header ul li {
      display: inline; }
      header ul li a {
        font-family: "Antonio", sans-serif; }
      header ul li a:link, header ul li a:visited {
        color: #58595b; }
      header ul li a:hover, header ul li a:active {
        color: #e98b31;
        text-decoration: none; }
    header ul li.active a {
      color: #e98b31; }
  header .metanav ul {
    margin-bottom: 23px; }
    header .metanav ul li {
      padding-left: 34px; }
      header .metanav ul li a {
        font-size: 12px; }
  header nav ul li {
    padding-left: 38px; }
    header nav ul li a {
      font-size: 18px;
      text-transform: uppercase; }
  header .hero {
    position: relative;
    text-align: center;
    margin-top: 90px;
    height: 520px; }
    header .hero img {
      margin: 0px 0 0 -640px;
      position: absolute;
      z-index: 10;
      left: 50%;
      #margin-bottom: 45px; }
    header .hero .container {
      position: relative;
      z-index: 20; }
      header .hero .container h1 {
        color: #58595b;
        font-family: "Antonio", sans-serif;
        font-size: 50px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        margin-bottom: 7px;
        margin-top: 0;
        margin-top: 375px;
        display: block; }
      header .hero .container p {
        color: #58595b;
        font-size: 18px;
        font-family: "Istok Web", sans-serif; }

body.index .hero {
  margin-top: 0;
  height: 722px; }
  body.index .hero img {
    margin-top: 0;
    z-index: 10; }
  body.index .hero h1 {
    margin-top: 55px; }
  body.index .hero h1, body.index .hero p {
    color: white; }
body.index .link_to_home a {
  color: #e98b31; }

@-moz-document url-prefix() {
  body.index header .hero h1 {
    padding-top: 80px; } }

body.ueber-uns .ueber-uns a, body.kontakt .kontakt a, body.impressum .impressum a {
  color: #e98b31; }

body.index {
  background: white url("/images/footer_gradient.png") bottom left repeat-x; }

body.impressum .hero p {
  display: none; }

hr.divider {
  margin-top: 35px;
  margin-bottom: 35px;
  height: 2px;
  background: #f4c598;
  border: 0;
  max-width: 246px; }

.intro {
  text-align: center;
  margin-bottom: 100px; }
  .intro h1 {
    font-family: "Antonio", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 22px;
    color: #e98b31; }
  .intro h1 + p {
    color: #e98b31;
    font-family: "Istok Web", sans-serif;
    font-size: 18px; }
  .intro .infocol h2 {
    font-family: "Antonio", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #e98b31; }
  .intro .infocol p {
    font-family: "Istok Web", sans-serif;
    font-size: 14px; }

.whatsyourhobby {
  height: 518px;
  position: relative;
  margin-bottom: 30px; }
  .whatsyourhobby .form_wrapper {
    height: 518px;
    width: 1280px;
    margin: 0px 0 0 -640px;
    position: absolute;
    background: url("/images/whatsyourhobby-bg.jpg") no-repeat;
    left: 50%; }
    .whatsyourhobby .form_wrapper .container {
      margin: 0 auto;
      max-width: 940px;
      color: white; }
      .whatsyourhobby .form_wrapper .container .inner_form_wrapper {
        padding-top: 48px;
        max-width: 50%;
        overflow: auto; }
        .whatsyourhobby .form_wrapper .container .inner_form_wrapper h1 {
          font-family: "Antonio", sans-serif;
          font-size: 36px;
          text-transform: uppercase; }
        .whatsyourhobby .form_wrapper .container .inner_form_wrapper p {
          font-family: "Istok Web", sans-serif;
          font-size: 18px; }
        .whatsyourhobby .form_wrapper .container .inner_form_wrapper input[type=text], .whatsyourhobby .form_wrapper .container .inner_form_wrapper textarea {
          padding: 8px 10px;
          color: #414042;
          font-family: "Istok Web", sans-serif;
          font-size: 18px;
          margin-bottom: 13px; }
        .whatsyourhobby .form_wrapper .container .inner_form_wrapper input[type=text] {
          height: 30px;
          width: 240px;
          margin-right: 6px; }
        .whatsyourhobby .form_wrapper .container .inner_form_wrapper textarea {
          width: 422px; }
        .whatsyourhobby .form_wrapper .container .inner_form_wrapper span {
          font-family: "Antonio", sans-serif;
          font-size: 24px;
          text-transform: uppercase;
          display: inline-block;
          line-height: 32px;
          vertical-align: middle; }

.hobby_ideas {
  text-align: center;
  margin-bottom: 58px; }
  .hobby_ideas .hobby_ideas_wrapper {
    margin: 0 auto;
    max-width: 940px;
    margin-bottom: 60px; }
  .hobby_ideas > h1 {
    text-align: center;
    color: #58595b;
    font-size: 36px;
    font-family: "Antonio", sans-serif;
    margin-bottom: 27px; }
  .hobby_ideas .hobby_idea {
    background: #f1f2f2;
    padding: 8px;
    width: 318px;
    margin: 1px;
    overflow: auto;
    text-align: left;
    font-family: "Istok Web", sans-serif; }
    .hobby_ideas .hobby_idea h1 {
      color: #e98b31;
      font-size: 18px;
      margin: 0;
      margin-bottom: 4px; }
    .hobby_ideas .hobby_idea p {
      color: #58595b;
      font-size: 14px; }
    .hobby_ideas .hobby_idea p.author {
      font-size: bold;
      margin-bottom: 0; }

.howto_teaser {
  text-align: center;
  color: #6d6e71;
  position: relative;
  min-height: 264px;
  margin-bottom: 12px; }
  .howto_teaser .content_wrapper {
    width: 1280px;
    margin: 0px 0 0 -640px;
    position: absolute;
    background: #e6e7e8;
    padding-bottom: 24px;
    left: 50%; }
    .howto_teaser .content_wrapper .container {
      max-width: 800px; }
      .howto_teaser .content_wrapper .container hr.divider {
        background: #b3b5b7;
        margin-top: 20px;
        margin-bottom: 25px; }
      .howto_teaser .content_wrapper .container hr.divider:nth-child(2) {
        margin-bottom: 45px; }
      .howto_teaser .content_wrapper .container h1 {
        font-family: "Antonio", sans-serif;
        font-size: 24px;
        text-transform: uppercase; }

.experience_call_to_action_teaser {
  text-align: center;
  margin-bottom: 70px; }
  .experience_call_to_action_teaser h1 {
    font-family: "Antonio", sans-serif;
    text-transform: uppercase;
    color: #383580; }
  .experience_call_to_action_teaser p {
    font-family: "Istok Web", sans-serif;
    color: #6d6e71; }
  .experience_call_to_action_teaser .intro_text {
    margin-bottom: 28px; }
    .experience_call_to_action_teaser .intro_text h1 {
      font-size: 24px;
      margin-bottom: 20px; }
    .experience_call_to_action_teaser .intro_text p {
      font-size: 18px; }
  .experience_call_to_action_teaser .actioncol {
    min-height: 220px;
    position: relative; }
    .experience_call_to_action_teaser .actioncol h1 {
      font-size: 18px; }
    .experience_call_to_action_teaser .actioncol p {
      font-size: 14px; }
    .experience_call_to_action_teaser .actioncol a {
      position: absolute;
      bottom: 0;
      left: 50%;
      margin-left: -125px; }

.projects_teaser {
  margin-bottom: 20px; }
  .projects_teaser .project .project_content {
    height: 296px;
    margin-bottom: 28px; }
    .projects_teaser .project .project_content img {
      max-width: 213px; }
    .projects_teaser .project .project_content h1 {
      color: #58595b;
      font-size: 14px;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px; }
    .projects_teaser .project .project_content p {
      font-size: 11px;
      margin-bottom: 0px; }
      .projects_teaser .project .project_content p a {
        color: #e98b31; }
    .projects_teaser .project .project_content p.author {
      margin-top: 10px; }

.show_more_projects {
  margin-bottom: 95px;
  text-align: center; }

.project_details {
  display: none; }
  .project_details .project_details_inner {
    margin: 0 auto;
    max-width: 800px;
    position: relative; }
    .project_details .project_details_inner .img {
      float: left;
      max-width: 300px;
      min-height: 240px;
      margin-right: 20px; }
    .project_details .project_details_inner p {
      font-size: 14px;
      color: #58595b;
      font-family: "Istok Web", sans-serif; }
    .project_details .project_details_inner .description {
      position: relative;
      min-height: 240px; }
      .project_details .project_details_inner .description h1 {
        font-size: 24px;
        color: #414042;
        font-family: "Antonio", sans-serif;
        margin: 0; }

.project_slider_element .intro {
  text-align: center; }
  .project_slider_element .intro h1, .project_slider_element .intro p {
    color: #414042; }
  .project_slider_element .intro p {
    font-size: 14px;
    font-family: "Istok Web", sans-serif; }
.project_slider_element .slider_navigation {
  text-align: center; }
  .project_slider_element .slider_navigation ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    .project_slider_element .slider_navigation ul li {
      display: inline-block;
      line-height: 45px;
      margin-left: 9px;
      margin-right: 9px;
      font-size: 34px;
      font-family: "Istok Web", sans-serif;
      width: 40px;
      height: 40px;
      background: transparent url("/images/slider_circle.png") no-repeat;
      color: #808285;
      cursor: pointer; }
    .project_slider_element .slider_navigation ul li.active {
      background-position: 0 -40px;
      color: #e98b31 !important; }

.carousel .carousel-inner {
  margin-top: 40px; }
  .carousel .carousel-inner .item .item_contents {
    margin: 0 auto;
    max-width: 800px;
    position: relative; }
    .carousel .carousel-inner .item .item_contents .img {
      float: left;
      max-width: 300px;
      min-height: 240px;
      margin-right: 20px; }
    .carousel .carousel-inner .item .item_contents p {
      font-size: 14px;
      color: #58595b;
      font-family: "Istok Web", sans-serif; }
    .carousel .carousel-inner .item .item_contents .description {
      position: relative;
      min-height: 240px; }
      .carousel .carousel-inner .item .item_contents .description h1 {
        font-size: 24px;
        color: #414042;
        font-family: "Antonio", sans-serif;
        margin: 0;
        width: 470px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis; }
      .carousel .carousel-inner .item .item_contents .description .donation_box {
        position: absolute;
        bottom: 0;
        left: 320px; }
        .carousel .carousel-inner .item .item_contents .description .donation_box .btn_plus, .carousel .carousel-inner .item .item_contents .description .donation_box .btn_minus {
          width: 30px;
          height: 30px;
          text-indent: -9999em;
          display: inline-block;
          vertical-align: top; }
        .carousel .carousel-inner .item .item_contents .description .donation_box .btn_plus {
          background: transparent url("/images/btn_plus.png") no-repeat; }
        .carousel .carousel-inner .item .item_contents .description .donation_box .btn_minus {
          background: transparent url("/images/btn_minus.png") no-repeat; }
        .carousel .carousel-inner .item .item_contents .description .donation_box input {
          height: 30px;
          border: 1px solid #d7d9da;
          margin: 0 10px;
          width: 80px;
          text-align: center; }
        .carousel .carousel-inner .item .item_contents .description .donation_box .btn_submit_donation {
          margin-top: 32px;
          text-align: center; }

.projekte .project_slider_element .intro p {
  display: none; }

.project_teaser {
  text-align: center;
  margin: 0 auto;
  margin-top: 58px; }
  .project_teaser a {
    margin-bottom: 50px; }

.aboutus_content {
  padding-top: 70px; }
  .aboutus_content .infocol {
    text-align: center; }
    .aboutus_content .infocol h2 {
      font-family: "Antonio", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      color: #57b648; }
    .aboutus_content .infocol p {
      font-family: "Istok Web", sans-serif;
      font-size: 14px; }

.aboutusfooter {
  margin-top: 40px;
  text-align: center; }

.implementation_steps {
  color: #58595b;
  margin-bottom: 82px; }
  .implementation_steps hr {
    width: 244px;
    border: none;
    background: #e98b31;
    height: 2px;
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 48px; }
  .implementation_steps h1 {
    font-family: "Antonio", sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 22px;
    color: #e98b31;
    text-align: center; }
  .implementation_steps .actioncol {
    text-align: center; }
    .implementation_steps .actioncol h1 {
      font-size: 18px;
      text-transform: none; }
  .implementation_steps .big {
    font-sizE: 18px;
    text-align: center; }
  .implementation_steps .boxed {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 12px;
    border: 1px solid #dcdede; }
  .implementation_steps .social_icons {
    text-align: center;
    margin-top: 20px; }
    .implementation_steps .social_icons a {
      text-decoration: none; }
    .implementation_steps .social_icons img {
      margin: 0 45px; }
  .implementation_steps .infocol {
    text-align: center; }
    .implementation_steps .infocol h2 {
      font-family: "Antonio", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      color: #e98b31; }
    .implementation_steps .infocol p {
      font-family: "Istok Web", sans-serif;
      font-size: 14px; }

.share_experiences {
  margin: 0 auto;
  margin-bottom: 20px; }
  .share_experiences hr {
    border: none;
    width: 246px;
    background: #c0c1c2;
    height: 2px;
    margin-bottom: 20px; }
  .share_experiences .container {
    margin: 0 auto;
    max-width: 940px;
    color: #414042; }
    .share_experiences .container .inner_form_wrapper {
      padding-top: 48px;
      max-width: 50%;
      margin: 0 auto;
      overflow: auto; }
      .share_experiences .container .inner_form_wrapper h1 {
        font-family: "Antonio", sans-serif;
        font-size: 36px;
        text-transform: uppercase; }
      .share_experiences .container .inner_form_wrapper p {
        font-family: "Istok Web", sans-serif;
        font-size: 18px; }
      .share_experiences .container .inner_form_wrapper input[type=text], .share_experiences .container .inner_form_wrapper textarea {
        padding: 8px 10px;
        color: #414042;
        font-family: "Istok Web", sans-serif;
        font-size: 18px;
        margin-bottom: 13px;
        border-color: #c0c1c2; }
      .share_experiences .container .inner_form_wrapper input[type=file] {
        margin-bottom: 20px; }
      .share_experiences .container .inner_form_wrapper input[type=text] {
        height: 30px;
        width: 240px;
        margin-right: 6px;
        border-color: #c0c1c2;
        border-style: solid;
        border-width: 1px; }
      .share_experiences .container .inner_form_wrapper textarea {
        width: 422px; }
      .share_experiences .container .inner_form_wrapper span {
        font-family: "Antonio", sans-serif;
        font-size: 24px;
        text-transform: uppercase;
        display: inline-block;
        line-height: 32px;
        vertical-align: middle; }
      .share_experiences .container .inner_form_wrapper .success h1 {
        font-size: 18px;
        text-align: center;
        color: #e98b31; }

.project_list {
  margin-top: 64px; }
  .project_list .blueprint {
    margin-bottom: 62px; }
    .project_list .blueprint h1 {
      font-family: "Antonio", sans-serif;
      font-size: 18px;
      text-transform: uppercase;
      margin-bottom: 2px;
      color: #57b648;
      text-align: left; }

.fundraisingbox {
  margin-top: 64px;
  margin-bottom: 64px;
  text-align: center; }

.impressum_content h2 {
  font-family: "Antonio", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  color: #e98b31; }

.hobby-ideen .hero p {
  display: none; }
.hobby-ideen .hero h1 {
  margin-bottom: 40px !important; }

footer {
  height: 95px;
  bottom: 0;
  width: 100%;
  margin-top: 145px; }
  footer .content_wrapper {
    width: 1280px;
    margin: 0px 0 0 -640px;
    position: absolute;
    left: 50%;
    height: 95px;
    background: #939598;
    text-align: center;
    display: inline-block;
    vertical-align: middle; }
  footer .helper {
    height: 100%;
    display: inline-block;
    vertical-align: middle; }
  footer img {
    overflow: auto;
    margin: auto;
    max-width: 332px;
    max-height: 95px;
    width: 100%;
    padding-left: 17px;
    padding-right: 17px;
    vertical-align: middle; }

.btn_small {
  height: 30px;
  background: #e98b31 url("/images/btn_bg_small.png") top right no-repeat;
  color: white;
  bordeR: none;
  min-width: 150px;
  padding-right: 30px;
  font-family: "Antonio", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  line-height: 30px;
  vertical-align: middle; }

.actioncol .btn_small {
  min-width: 250px;
  width: 250px; }

.btn_large {
  height: 34px;
  background: #e98b31 url("/images/btn_bg_large.png") top right no-repeat;
  color: white;
  bordeR: none;
  min-width: 334px;
  padding-right: 34px;
  font-family: "Antonio", sans-serif;
  font-size: 21px;
  line-height: 34px;
  vertical-align: middle;
  text-transform: uppercase; }

a.btn_small, a.btn_large {
  display: inline-block; }

.btn_large:link, .btn_large:visited, .btn_large:hover, .btn_large:active,
.btn_small:link, .btn_small:visited, .btn_small:hover, .btn_small:active {
  color: white;
  text-decoration: none; }

::-webkit-input-placeholder {
  color: #414042; }

:-moz-placeholder {
  color: #414042; }

::-moz-placeholder {
  color: #414042; }

:-ms-input-placeholder {
  color: #414042; }
