---
title: Hobby-ideen

# true if the page is included in the menu
listed: false

# true if the page is published
published: true

# position among sibling pages
# position: 1

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}

.row.hobby_ideas_teaser.hobby_ideas

  .hobby_ideas_wrapper.js-masonry{:data => {'masonry-options' => '{"isFitWidth": true, "itemSelector": ".hobby_idea"}' }}
    {% for idea in contents.user_messages %}
    {% if idea.active %}
    .hobby_idea
      %h1 {{ idea.title }} gegen Krebs
      %p {{ idea.message }}
      %p.author {{ idea.name }}
    {% endif %}
    {% endfor %}

{% endblock %}
