---
title: Projekte

# true if the page is included in the menu
listed: true

# true if the page is published
published: true

# position among sibling pages
position: 3

# sets a redirection to the given url (301)
# redirect_url: "<url to a page or to a remote url>"

# content type that this page is templatizing
# content_type: "<slug of one of the content types>"

# editable_elements:
#   'some_block/some_slug': "<text>"
#   'some_block/some_slug': "<relative path to the file under the public/samples folder>"
---
{% extends parent %}

{% block main %}

.project_list
  {% for blueprint in contents.blueprints%}
  {% if blueprint.active %}
  .row.blueprint
    {% capture mod %}{{ forloop.index | modulo: 2 }}{% endcapture %}
    {% if mod == '1' %}
    .col-sm-2.col-sm-offset-2
      %img{src: "{{ blueprint.circle_image.url  }}", alt: "{{blueprint.title}}"}/
    .col-sm-6
      %h1 {{ blueprint.title }}
      %p
        {{ blueprint.description}}
    {% else %}
    .col-sm-6.col-sm-offset-2
      %h1 {{ blueprint.title }}
      %p
        {{ blueprint.description }}
    .col-sm-2
      %img{src: "{{ blueprint.circle_image.url  }}", alt: "{{blueprint.title}}"}/
    {% endif %}
  {% endif %}
  {% endfor %}


  {% include project_carousel %}

{% endblock %}
